
.customers__title {
    //phone and tablet
    
        font-size: 28px;
    
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 30px;
    
        font-weight: 700;
    
    
        text-align: center;
    
        color: $h-bold-text-color;
    
        //desctop
        
        @media screen and (min-width:1199px) {
            font-size: 36px;
            margin-bottom: 50px;
        }
    
    }
.customers__list {

    //phone

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
    

    //tablet
    @media screen and (min-width:767px) {
            display: flex;
            flex-wrap: wrap;
            column-gap: 30px;
        }

      

    //desctop
    @media screen and (min-width:1199px) {
        display: flex;
        column-gap: 30px;
    }
}

.customers__link {
    display: flex;
        justify-content: center;
        align-items: center;
    
        min-width: 210px;
        height: 92px;
    
        border: 1px solid #AFB1B8;
        border-radius: 4px;
    
        transition: border $cubic-mooving-speed-color;
    

        &:hover,
        &:focus{
            border: 1px solid $focus-color;
        }

    &:hover .customers__img,
    &:focus .customers__img {
        fill: $focus-color;
    }

        @media screen and (min-width:767px) {
            min-width: 226px;
    
        }
    
        @media screen and (min-width:1199px) {
            min-width: 170px;
    
        }
}

.customers__img {
    display: block;
    
        width: 106px;
        height: 60px;
    
        fill: #AFB1B8;
    
        transition: fill $cubic-mooving-speed-color;
    }
